USE [master]
GO
/****** Object:  Database [Sunflower]    Script Date: 4/1/2026 12:41:39 AM ******/
CREATE DATABASE [Sunflower]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sunflower', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sunflower.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sunflower_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sunflower_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sunflower].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sunflower]
GO
/****** Object:  Table [dbo].[AnhNhomCauHoi]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhNhomCauHoi](
	[MaAnh] [int] IDENTITY(1,1) NOT NULL,
	[MaNhom] [int] NOT NULL,
	[ImgURL] [varchar](500) NOT NULL,
	[ThuTu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoTu]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoTu](
	[MaBoTu] [int] IDENTITY(1,1) NOT NULL,
	[TenBoTu] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[MaNguoiDung] [int] NULL,
	[Icon] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBoTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi](
	[MaCauHoi] [int] IDENTITY(1,1) NOT NULL,
	[STT] [int] NULL,
	[NoiDung] [varchar](max) NULL,
	[GiaiThich] [nvarchar](max) NULL,
	[MaNhom] [int] NULL,
	[AudioURL] [varchar](500) NULL,
	[ImgURL] [varchar](500) NULL,
	[TenPart] [int] NULL,
	[MaDeThi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhienLam]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhienLam](
	[MaPhien] [int] NOT NULL,
	[MaCauHoi] [int] NOT NULL,
	[MaDapAnChon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhien] ASC,
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietTu]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTu](
	[MaChiTietTu] [int] IDENTITY(1,1) NOT NULL,
	[Nghia] [nvarchar](max) NULL,
	[ViDu] [nvarchar](max) NULL,
	[TuDongNghia] [nvarchar](max) NULL,
	[TuTraiNghia] [nvarchar](max) NULL,
	[MaTuLoai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DapAn]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DapAn](
	[MaDapAn] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[KyHieu] [char](1) NULL,
	[IsCorrect] [bit] NULL,
	[MaCauHoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDapAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeThi]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeThi](
	[MaDeThi] [int] IDENTITY(1,1) NOT NULL,
	[TenDeThi] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[ThoiGianLam] [int] NULL,
	[TrangThai] [tinyint] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDeThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashCard]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashCard](
	[FlashCardId] [int] IDENTITY(1,1) NOT NULL,
	[Tu] [nvarchar](100) NULL,
	[Nghia] [nvarchar](max) NULL,
	[PhienAm] [nvarchar](100) NULL,
	[MaBoTu] [int] NULL,
	[ViDu] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[FlashCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[VaiTro] [tinyint] NULL,
	[TrangThai] [tinyint] NULL,
	[NgayTao] [datetime] NULL,
	[MucTieu] [int] NULL,
	[NgayThi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomCauHoi]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomCauHoi](
	[MaNhom] [int] IDENTITY(1,1) NOT NULL,
	[AudioURL] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhienLamBai]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhienLamBai](
	[MaPhien] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[MaDeThi] [int] NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[SoCauDung] [int] NULL,
	[SoCauSai] [int] NULL,
	[SoCauKhongChon] [int] NULL,
	[DiemSo] [int] NULL,
	[TrangThaiNop] [bit] NULL,
	[DiemLC] [int] NULL,
	[DiemRC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tu]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tu](
	[MaTu] [int] IDENTITY(1,1) NOT NULL,
	[Tu] [nvarchar](100) NOT NULL,
	[PhienAm] [nvarchar](100) NULL,
	[AudioUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuLoai]    Script Date: 4/1/2026 12:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuLoai](
	[MaTuLoai] [int] IDENTITY(1,1) NOT NULL,
	[Loai] [nvarchar](50) NULL,
	[MaTu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTuLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnhNhomCauHoi] ON 

INSERT [dbo].[AnhNhomCauHoi] ([MaAnh], [MaNhom], [ImgURL], [ThuTu]) VALUES (1, 11, N'https://res.cloudinary.com/dkctv1dfn/image/upload/v1774665805/E26-T01-LC-62-64_mif7im.png', 1)
INSERT [dbo].[AnhNhomCauHoi] ([MaAnh], [MaNhom], [ImgURL], [ThuTu]) VALUES (2, 12, N'https://res.cloudinary.com/dkctv1dfn/image/upload/v1774665800/E26-T01-LC-65-67_dxyv6r.png', 1)
INSERT [dbo].[AnhNhomCauHoi] ([MaAnh], [MaNhom], [ImgURL], [ThuTu]) VALUES (3, 13, N'https://res.cloudinary.com/dkctv1dfn/image/upload/v1774665801/E26-T01-LC-68-70_dqe9kh.png', 1)
SET IDENTITY_INSERT [dbo].[AnhNhomCauHoi] OFF
GO
SET IDENTITY_INSERT [dbo].[CauHoi] ON 

INSERT [dbo].[CauHoi] ([MaCauHoi], [STT], [NoiDung], [GiaiThich], [MaNhom], [AudioURL], [ImgURL], [TenPart], [MaDeThi]) VALUES (1, 1, N'', N'(A) Người phụ nữ đang bưng một khay thức ăn.
(B) Người phụ nữ đang mặc một chiếc áo khoác.
(C) Người phụ nữ đang buộc tóc.
(D) Người phụ nữ đang cởi mũ.', NULL, N'https://res.cloudinary.com/dkctv1dfn/video/upload/v1774662236/E26-T01-01_z1uqry.mp3', N'https://res.cloudinary.com/dkctv1dfn/image/upload/v1774665808/E26-T01-LC-01_ij2lld.png', 1, 1)
INSERT [dbo].[CauHoi] ([MaCauHoi], [STT], [NoiDung], [GiaiThich], [MaNhom], [AudioURL], [ImgURL], [TenPart], [MaDeThi]) VALUES (2, 2, N'', N'(A) Một số người đang đứng cạnh tủ đựng hồ sơ.
(B) Một số người đang tìm kiếm đồ trong bàn làm việc.
(C) Một số người đang xem một bài thuyết trình.
(D) Một số người đang nhìn vào một cuốn sách.', NULL, N'https://res.cloudinary.com/dkctv1dfn/video/upload/v1774662237/E26-T01-02_f4wxhx.mp3', N'https://res.cloudinary.com/dkctv1dfn/image/upload/v1774665807/E26-T01-LC-02_lusxkp.png', 1, 1)
INSERT [dbo].[CauHoi] ([MaCauHoi], [STT], [NoiDung], [GiaiThich], [MaNhom], [AudioURL], [ImgURL], [TenPart], [MaDeThi]) VALUES (3, 3, N'', N'(A) Một người phụ nữ đang áp điện thoại vào tai.
(B) Một người phụ nữ đang rót đồ uống vào ly.
(C) Một số đèn chiếu sáng đang treo trên trần nhà.
(D) Một số viên gạch đang được lắp đặt ở hành lang.', NULL, N'https://res.cloudinary.com/dkctv1dfn/video/upload/v1774662237/E26-T01-03_sugbqh.mp3', N'https://res.cloudinary.com/dkctv1dfn/image/upload/v1774665806/E26-T01-LC-03_k4tbn3.png', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[CauHoi] OFF
GO
SET IDENTITY_INSERT [dbo].[DapAn] ON 

INSERT [dbo].[DapAn] ([MaDapAn], [NoiDung], [KyHieu], [IsCorrect], [MaCauHoi]) VALUES (1, N'', N'A', 0, 1)
INSERT [dbo].[DapAn] ([MaDapAn], [NoiDung], [KyHieu], [IsCorrect], [MaCauHoi]) VALUES (2, N'', N'B', 1, 1)
INSERT [dbo].[DapAn] ([MaDapAn], [NoiDung], [KyHieu], [IsCorrect], [MaCauHoi]) VALUES (3, N'', N'C', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[DapAn] OFF
GO
SET IDENTITY_INSERT [dbo].[DeThi] ON 

INSERT [dbo].[DeThi] ([MaDeThi], [TenDeThi], [MoTa], [ThoiGianLam], [TrangThai], [NgayTao]) VALUES (1, N'Test 1', N'Thời gian làm bài: 120 phút | 7 phần thi | 200 câu hỏi', 120, 1, CAST(N'2026-03-29T09:07:14.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[DeThi] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenTaiKhoan], [MatKhau], [HoTen], [Email], [VaiTro], [TrangThai], [NgayTao], [MucTieu], [NgayThi]) VALUES (1, N'admin', N'admin', N'Admin', N'admin@gmail.com', 0, 1, CAST(N'2026-03-29T09:07:14.340' AS DateTime), NULL, NULL)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenTaiKhoan], [MatKhau], [HoTen], [Email], [VaiTro], [TrangThai], [NgayTao], [MucTieu], [NgayThi]) VALUES (2, N'Nta_30', N'123456', N'Nguyễn Tuấn Anh', N'nguyentuananh300905@gmail.com', 1, 1, CAST(N'2026-03-29T09:07:14.340' AS DateTime), NULL, NULL)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenTaiKhoan], [MatKhau], [HoTen], [Email], [VaiTro], [TrangThai], [NgayTao], [MucTieu], [NgayThi]) VALUES (3, N'Nta30', N'$2b$12$2oicLXgDIesX2N0vKP6nZOoVcz691gLA1zfspN6Z7XX2CZDxV1iWO', N'Nguyễn Tuấn Anh', N'nguyentuananh300905@gmail.com', 0, 1, CAST(N'2026-03-29T16:00:49.810' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhomCauHoi] ON 

INSERT [dbo].[NhomCauHoi] ([MaNhom], [AudioURL]) VALUES (1, N'https://res.cloudinary.com/dkctv1dfn/video/upload/v1774662257/E26-T01-32-34_yaalpq.mp3')
INSERT [dbo].[NhomCauHoi] ([MaNhom], [AudioURL]) VALUES (2, N'https://res.cloudinary.com/dkctv1dfn/video/upload/v1774662258/E26-T01-35-37_mep2y9.mp3')
INSERT [dbo].[NhomCauHoi] ([MaNhom], [AudioURL]) VALUES (3, N'https://res.cloudinary.com/dkctv1dfn/video/upload/v1774662260/E26-T01-38-40_qskqoa.mp3')
SET IDENTITY_INSERT [dbo].[NhomCauHoi] OFF
GO
ALTER TABLE [dbo].[AnhNhomCauHoi] ADD  DEFAULT ((1)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[AnhNhomCauHoi]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomCauHoi] ([MaNhom])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BoTu]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD FOREIGN KEY([MaDeThi])
REFERENCES [dbo].[DeThi] ([MaDeThi])
GO
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomCauHoi] ([MaNhom])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhienLam]  WITH CHECK ADD FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[CauHoi] ([MaCauHoi])
GO
ALTER TABLE [dbo].[ChiTietPhienLam]  WITH CHECK ADD FOREIGN KEY([MaDapAnChon])
REFERENCES [dbo].[DapAn] ([MaDapAn])
GO
ALTER TABLE [dbo].[ChiTietPhienLam]  WITH CHECK ADD FOREIGN KEY([MaPhien])
REFERENCES [dbo].[PhienLamBai] ([MaPhien])
GO
ALTER TABLE [dbo].[ChiTietTu]  WITH CHECK ADD FOREIGN KEY([MaTuLoai])
REFERENCES [dbo].[TuLoai] ([MaTuLoai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DapAn]  WITH CHECK ADD FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[CauHoi] ([MaCauHoi])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FlashCard]  WITH CHECK ADD FOREIGN KEY([MaBoTu])
REFERENCES [dbo].[BoTu] ([MaBoTu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhienLamBai]  WITH CHECK ADD FOREIGN KEY([MaDeThi])
REFERENCES [dbo].[DeThi] ([MaDeThi])
GO
ALTER TABLE [dbo].[PhienLamBai]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TuLoai]  WITH CHECK ADD FOREIGN KEY([MaTu])
REFERENCES [dbo].[Tu] ([MaTu])
ON DELETE CASCADE
GO
USE [master]
GO
